<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="Refresh" CONTENT="5;URL=/index"/>
    <title>UniverseForum:提示</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/msgTemplate.css">
    <link rel="stylesheet" href="/css/contentTemplate.css">
</head>
<body>
<div class="content">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <h1>修改成功</h1>
                            <h3>5 秒后为您跳转至登录页面</h3>
                            <p>您也可以手动点击下面链接跳转</p>
                            <p>
                                <a href="/a/login" class="a_btn">
                                    <span>[ 点击这里跳转登录 ]</span>
                                </a>
                            </p>
                            <p>
                                <a href="/index" class="a_btn">
                                    <span>[ 点击这里返回首页 ]</span>
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>