<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 ERROR</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/contentTemplate.css">
    <link rel="stylesheet" href="/css/msgTemplate.css">
</head>
<body>
<div class="content">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <h1>404</h1>
                            <h3>未能寻找到资源，可能的原因：</h3>
                            <p>1.输入了错误的URI</p>
                            <p>2.链接已失效</p>
                            <p>
                                <a href="javascript:history.back()" class="a">
                                    <span>[ 点击这里返回上一页 ]</span>
                                </a>
                            </p>
                            <p>
                                <a href="/index" class="a">
                                    <span>[ 点击这里返回首页 ]</span>
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>