<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 ERROR</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/contentTemplate.css">
    <link rel="stylesheet" href="/css/msgTemplate.css">
</head>
<body>
<div class="content">
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <h1>500</h1>
                            <h3>服务器产生了一个内部错误，造成的不便敬请谅解！</h3>
                            <p>
                                <a href="/index" class="a">
                                    <span>[ 点击这里返回首页 ]</span>
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>