<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>UniverseForum:找回密码</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/passport/demo.css">
    <link rel="stylesheet" href="/css/passport/component.css">
    <link rel="stylesheet" href="/css/passport/normalize.css">
    <script src="/js/passport/login/html5.js"></script>
    <script src="/js/SystemMessage.js"></script>
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>找回密码</h3>
                <form action="/a/rePassword.ing" method="post">
                    <div class="input_outer">
                        <span class="name"></span>
                        <input name="username" class="text" required="required" autocomplete="off" placeholder="需要找回的用户名"
                               style="color: #FFFFFF !important" type="text"/>
                    </div>
                    <div class="input_outer">
                        <span class="mail"></span>
                        <input type="text" name="email" required="required" placeholder="该用户绑定的邮箱" class="text" autocomplete="off"/>
                    </div>
                    <div class="mb2">
                        <button type="submit" class="btn">
                            <span>发送找回密码邮件</span>
                            <span> </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="/js/passport/TweenLite.min.js"></script>
<script src="/js/passport/EasePack.min.js"></script>
<script src="/js/passport/rAF.js"></script>
<script src="/js/passport/demo-1.js"></script>
<div style="text-align:center;">
</div>
<script th:inline="javascript" type="text/javascript">
    var msg = getCookie("warningMsg");
    if (msg != null) {
        alert(decodeURIComponent(msg));
        delCookie("warningMsg");
    }
</script>
</body>
</html>